@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    font-family: "Cairo", sans-serif;
}
.active {
    text-decoration: none;
    position: relative;
}
.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    border-bottom: 2px solid white;
}

.mission-form  > div{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: start;
    padding: 5px 0;
}
.mission-form input{
    text-align: right;
}
